body {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/ab/58/cc/ab58cc75dcb2e42555cf7e614216350a.jpg");
}

#board {
  height: 540px;
  width: 640px;
  background-color: blue;
  border: 10px solid navy;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  height: 70px;
  width: 70px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  margin: 5px;
  border: 5px solid navy;
}

.title {
  text-decoration: underline;
}

.red-piece {
  background-image: url("https://i1.sndcdn.com/artworks-000193803962-tla7ov-t500x500.jpg");
  background-size: cover;
}

.yellow-piece {
  background-image: url("https://i.etsystatic.com/20023820/r/il/2fa9e1/3911935240/il_fullxfull.3911935240_2c9o.jpg");
  background-size: cover;
}

.score {
  text-decoration: underline;
}
